<p>A lodge</p>
<table>
    <tr>
        <td>{{lodge.lodgenr}} - {{lodge.name}}</td>
    </tr>
    <tr>
        <td>{{lodge.description}}</td>
    </tr>
    <tr><td>{{lodge.pricehigh}} sek/day</td></tr>
</table>

<form ng-if="user" name="form" ng-submit="vm.rent()" role="form">
    <table>
        <tr class="form-group" ng-class="{ 'has-error': form.weekstart.$dirty && form.weekstart.$error.required }">
            <td><label for="weekstart">Week Start</label></td>
            <td><input type="text" name="weekstart" id="weekstart" class="form-control" ng-model="vm.weekstart" required /></td>
            <td><span ng-show="form.weekstart.$dirty && form.weekstart.$error.required" class="help-block">Week start is required</span></td>
        </tr>
        <tr class="form-group" ng-class="{ 'has-error': form.weekend.$dirty && form.weekend.$error.required }">
            <td><label for="weekend">Week End</label></td>
            <td><input type="text" name="weekend" id="weekend" class="form-control" ng-model="vm.weekend" required /></td>
            <td><span ng-show="form.weekend.$dirty && form.weekend.$error.required" class="help-block">Week end is required</span></td>
        </tr>
        <div class="form-actions">
            <td>
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Rent</button>
                <img ng-if="vm.dataLoading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </td>
        </div>
    </table>
</form>
